{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Page
{% endblock %}

{% block body %}

    <h1>Create a new page</h1>
    <p>Please use <a href="https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax" target="_blank">Github Markdown</a> to style your page.</p>

    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        {{ create_form }}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}